@media only screen and (max-width: 3000px) {
    * {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    html {
        overflow-x:hidden; 
    }

    .landingpage1 {
        width: 1920px; 
        height: 1080px; 
        background-color: #403A3A; 
        overflow: hidden; 

    }
    .landingpage2 {
        background-color: #E2DFDF; 
        height: 1080px;
        width: 1920px; 
        overflow: hidden; 

    }

    .mainLogo {
        position: absolute;
        width: 200px; 
        height: 200px;
        left: 25px;
        top: 25px; 

    }



    .title1 {
        position: absolute;
        width: 960px;
        height: 280px;
        left: 842px;
        top: 340px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 108px;

        color: #FFFFFF;

    }

    .title2 {
        position: absolute;
        width: 960px;
        height: 280px;
        left: 1501px;
        top: 306px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 108px;
        line-height: 162px;

        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;


    }

    .nuthsCreationsImage {
        position: absolute;
        width: 600px; 
        height: 600px; 
        left: 200px;
        top: 206px;
    }

    .introduction {

        position: absolute;
        width: 744px;
        height: 210px;
        left: 840px;
        top: 446px;

        font-family: 'Poppins';
        font-style: thin;
        font-weight: 200;
        font-size: 36px;
        line-height: 54px;

        color: #FFFFFF;

    }




    .title3 {

        position: absolute;
        width: 523px;
        height: 113px;
        left: 66px;
        top: 1480px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 108px;

        color: #403A3A;

    }

    .title4{ 
        position: absolute;
        width: 960px;
        height: 280px;
        left: 589px;
        top: 1446px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 108px;
        line-height: 162px;
        
        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
    }

    .introduction2 {
        position: absolute;
        width: 1043px;
        height: 201px;
        left: 66px;
        top: 1593px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 36px;

        color: #403A3A;
        padding-bottom: 500px; 
        overflow: hidden; 

    }

    .footer {
        background-color: #403A3A;
        width: 1920px;
        height: 200px; 
        overflow:hidden;
    }

    .footerText {

        position: absolute;
        width: 960px;
        height: 70px;
        left: 26px;
        top: 2187px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        color: #FFFFFF;


    }

    .footer > div > a {
        position: absolute;
        width: 744px;
        height: 40px;
        top: 2287px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;   
        text-decoration: none;
        color: #FFFFFF;
    }
    .homeFooter {
        left: 26px;
    }

    .aboutMeFooter {
        left: 280px;
    }

    .projectsFooter {
        left: 567px;
    }

    .blogFooter {
        left: 858px;
    }

    .contactMeFooter {
        left: 1071px; 
    }

    .instagramLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1500px;
        top: 2160px;

    }

    .mailLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1650px;
        top: 2160px;

    }

    .homeNavigation {

        position: absolute;
        width: 113px;
        height: 49px;
        left: 670px;
        top: 50px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-decoration: none;

        color: #FFFFFF;


    }

    .aboutNavigation {

        position: absolute;
        width: 190px;
        height: 49px;
        left: 880px;
        top: 50px;
        text-decoration: none;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;

        color: #FFFFFF;

    }

    .projectsNavigation {

        position: absolute;
        width: 154px;
        height: 49px;
        left: 1142px;
        top: 50px;
        text-decoration: none;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;

        color: #FFFFFF;
    }

    .blogNaviagation {
        position: absolute;
        width: 90px;
        height: 49px;
        left: 1378px;
        top: 50px;
        text-decoration: none;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;

        color: #FFFFFF;
    }

    .contactNavigation {

        position: absolute;
        width: 230px;
        height: 49px;
        left: 1562px;
        top: 50px;
        text-decoration: none;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;

        color: #FFFFFF;
    }

    .homeNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .homeNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .aboutNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .aboutNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .projectsNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .projectsNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .blogNaviagation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .blogNaviagation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .contactNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .contactNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .secondImage {
        position: absolute;
        width: 600px;
        height: 600px; 
        left: 1195px;
        top: 1284px; 
        border: 2px solid #403A3A;


    }

}
@media only screen and (max-width: 1400px) {
    * {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    html {
        overflow-x:hidden; 
    }

    .landingpage1 {
        width: 100%; 
        height: 1080px; 
        background-color: #403A3A; 
        overflow: hidden; 

    }
    .landingpage2 {
        background-color: #E2DFDF; 
        height: 1080px;
        width: 100%; 
        overflow: hidden; 

    }

    .mainLogo {
        position: absolute;
        width: 150px; 
        height: 150px;
        left: 25px;
        top: 25px; 

    }



    .title1 {

        position: absolute;
        width: 600px;
        height: 88px;
        left: 464px;
        top: 376px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        color: #FFFFFF;

    }

    .title2 {

        position: absolute;
        width: 186px;
        height: 190px;
        left: 1010px;
        top: 365px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 105px;

        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .nuthsCreationsImage {

        position: absolute;
        width: 372px;
        height: 320px;
        left: 61px;
        top: 335px;
    }

    .introduction {

        position: absolute;
        width: 577px;
        height: 210px;
        left: 477px;
        top: 464px;

        font-family: 'Poppins';
        font-style: thin;
        font-weight: 200;
        font-size: 34px;
        line-height: 51px;

        color: #FFFFFF;

    }

    .title3 {

        position: absolute;
        width: 523px;
        height: 113px;
        left: 66px;
        top: 1480px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 108px;

        color: #403A3A;

    }

    .title4{ 
        position: absolute;
        width: 960px;
        height: 280px;
        left: 589px;
        top: 1446px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 108px;
        line-height: 162px;
        
        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
    }

    .introduction2 {
        position: absolute;
        width: 1043px;
        height: 201px;
        left: 66px;
        top: 1593px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 36px;

        color: #403A3A;
        padding-bottom: 500px; 
        overflow: hidden; 

    }

    .footer {
        background-color: #403A3A;
        width: 1920px;
        height: 200px; 
        overflow:hidden;
    }

    .footerText {

        position: absolute;
        width: 960px;
        height: 70px;
        left: 26px;
        top: 2187px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        color: #FFFFFF;


    }

    .footer > div > a {
        position: absolute;
        width: 744px;
        height: 40px;
        top: 2287px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;   
        text-decoration: none;
        color: #FFFFFF;
    }
    .homeFooter {
        left: 26px;
    }

    .aboutMeFooter {
        left: 280px;
    }

    .projectsFooter {
        left: 567px;
    }

    .blogFooter {
        left: 858px;
    }

    .contactMeFooter {
        left: 1071px; 
    }

    .instagramLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1500px;
        top: 2160px;

    }

    .mailLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1650px;
        top: 2160px;

    }

    .homeNavigation {

        position: absolute;
        width: 134px;
        height: 49px;
        left: 180px;
        top: 67px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;

    }

    .aboutNavigation {

        position: absolute;
        width: 200px;
        height: 60px;
        left: 341px;
        top: 67px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;

    }

    .projectsNavigation {

        position: absolute;
        width: 184px;
        height: 49px;
        left: 576px;
        top: 67px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;

    }

    .blogNaviagation {

        position: absolute;
        width: 100px;
        height: 56px;
        left: 786px;
        top: 66px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;

    }

    .contactNavigation {

        position: absolute;
        width: 250px;
        height: 59px;
        left: 925px;
        top: 68px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;
    }

    .homeNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .homeNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .aboutNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .aboutNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .projectsNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .projectsNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .blogNaviagation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .blogNaviagation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .contactNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .contactNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .secondImage {
        position: absolute;
        width: 600px;
        height: 600px; 
        left: 1195px;
        top: 1284px; 
        border: 2px solid #403A3A;


    }
}

@media only screen and (max-width: 1000px) {
    * {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    html {
        overflow-x:hidden; 
    }

    .landingpage1 {
        width: 100%; 
        height: 1080px; 
        background-color: #403A3A; 
        overflow: hidden; 

    }
    .landingpage2 {
        background-color: #E2DFDF; 
        height: 1080px;
        width: 100%; 
        overflow: hidden; 

    }

    .mainLogo {
        position: absolute;
        width: 150px; 
        height: 150px;
        left: 25px;
        top: 25px; 

    }



    .title1 {

        position: absolute;
        width: 400px;
        height: 58px;
        left: 407px;
        top: 433px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;

    }

    .title2 {

        position: absolute;
        width: 193px;
        height: 209px;
        left: 775px;
        top: 397px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 105px;

        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .nuthsCreationsImage {

        position: absolute;
        width: 298px;
        height: 322px;
        left: 47px;
        top: 383px;

    }

    .introduction {

        position: absolute;
        width: 577px;
        height: 225px;
        left: 407px;
        top: 491px;

        font-family: 'Poppins';
        font-style: thin;
        font-weight: 200;
        font-size: 34px;
        line-height: 51px;

        color: #FFFFFF;

    }




    .title3 {

        position: absolute;
        width: 523px;
        height: 113px;
        left: 66px;
        top: 1480px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 108px;

        color: #403A3A;

    }

    .title4{ 
        position: absolute;
        width: 960px;
        height: 280px;
        left: 589px;
        top: 1446px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 108px;
        line-height: 162px;
        
        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
    }

    .introduction2 {
        position: absolute;
        width: 1043px;
        height: 201px;
        left: 66px;
        top: 1593px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 36px;

        color: #403A3A;
        padding-bottom: 500px; 
        overflow: hidden; 

    }

    .footer {
        background-color: #403A3A;
        width: 1920px;
        height: 200px; 
        overflow:hidden;
    }

    .footerText {

        position: absolute;
        width: 960px;
        height: 70px;
        left: 26px;
        top: 2187px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        color: #FFFFFF;


    }

    .footer > div > a {
        position: absolute;
        width: 744px;
        height: 40px;
        top: 2287px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;   
        text-decoration: none;
        color: #FFFFFF;
    }
    .homeFooter {
        left: 26px;
    }

    .aboutMeFooter {
        left: 280px;
    }

    .projectsFooter {
        left: 567px;
    }

    .blogFooter {
        left: 858px;
    }

    .contactMeFooter {
        left: 1071px; 
    }

    .instagramLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1500px;
        top: 2160px;

    }

    .mailLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1650px;
        top: 2160px;

    }

    .homeNavigation {

        position: absolute;
        width: 96px;
        height: 33px;
        left: 189px;
        top: 72px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;
    }

    .aboutNavigation {

        position: absolute;
        width: 159px;
        height: 33px;
        left: 324px;
        top: 72px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .projectsNavigation {

        position: absolute;
        width: 131px;
        height: 34px;
        left: 526px;
        top: 71px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .blogNaviagation {

        position: absolute;
        width: 75px;
        height: 33px;
        left: 700px;
        top: 72px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .contactNavigation {

        position: absolute;
        width: 190px;
        height: 45px;
        left: 801px;
        top: 72px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;
    }

    .homeNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .homeNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .aboutNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .aboutNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .projectsNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .projectsNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .blogNaviagation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .blogNaviagation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .contactNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .contactNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .secondImage {
        position: absolute;
        width: 600px;
        height: 600px; 
        left: 1195px;
        top: 1284px; 
        border: 2px solid #403A3A;


    }
}


@media only screen and (max-width: 720px) {
    * {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    html {
        overflow-x:hidden; 
    }

    .landingpage1 {
        width: 100%; 
        height: 1080px; 
        background-color: #403A3A; 
        overflow: hidden; 

    }
    .landingpage2 {
        background-color: #E2DFDF; 
        height: 1080px;
        width: 100%; 
        overflow: hidden; 

    }

    .mainLogo {
        position: absolute;
        width: 100px; 
        height: 100px;
        left: 25px;
        top: 25px; 

    }



    .title1 {

        position: absolute;
        width: 350px;
        height: 48px;
        left: 286px;
        top: 386px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .title2 {

        position: absolute;
        width: 142px;
        height: 208px;
        left: 570px;
        top: 368px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;

        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .nuthsCreationsImage {

        position: absolute;
        width: 247px;
        height: 228px;
        left: 29px;
        top: 348px;

    }

    .introduction {

        position: absolute;
        width: 392px;
        height: 103px;
        left: 286px;
        top: 434px;

        font-family: 'Poppins';
        font-style: thin;
        font-weight: 200;
        font-size: 25px;
        line-height: 38px;

        color: #FFFFFF;

    }




    .title3 {

        position: absolute;
        width: 523px;
        height: 113px;
        left: 66px;
        top: 1480px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 108px;

        color: #403A3A;

    }

    .title4{ 
        position: absolute;
        width: 960px;
        height: 280px;
        left: 589px;
        top: 1446px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 108px;
        line-height: 162px;
        
        background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
    }

    .introduction2 {
        position: absolute;
        width: 1043px;
        height: 201px;
        left: 66px;
        top: 1593px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 36px;

        color: #403A3A;
        padding-bottom: 500px; 
        overflow: hidden; 

    }

    .footer {
        background-color: #403A3A;
        width: 1920px;
        height: 200px; 
        overflow:hidden;
    }

    .footerText {

        position: absolute;
        width: 960px;
        height: 70px;
        left: 26px;
        top: 2187px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;

        color: #FFFFFF;


    }

    .footer > div > a {
        position: absolute;
        width: 744px;
        height: 40px;
        top: 2287px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 54px;   
        text-decoration: none;
        color: #FFFFFF;
    }
    .homeFooter {
        left: 26px;
    }

    .aboutMeFooter {
        left: 280px;
    }

    .projectsFooter {
        left: 567px;
    }

    .blogFooter {
        left: 858px;
    }

    .contactMeFooter {
        left: 1071px; 
    }

    .instagramLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1500px;
        top: 2160px;

    }

    .mailLogo {

        position: absolute;
        width: 200px;
        height: 200px;
        left: 1650px;
        top: 2160px;

    }

    .homeNavigation {

        position: absolute;
        width: 102px;
        height: 40px;
        left: 208px;
        top: 38px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .aboutNavigation {

        position: absolute;
        width: 161px;
        height: 50px;
        left: 323px;
        top: 38px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .projectsNavigation {

        position: absolute;
        width: 130px;
        height: 47px;
        left: 502px;
        top: 38px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .blogNaviagation {

        position: absolute;
        width: 82px;
        height: 41px;
        left: 276px;
        top: 90px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .contactNavigation {

        position: absolute;
        width: 200px;
        height: 42px;
        left: 404px;
        top: 90px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;

        color: #FFFFFF;

    }

    .homeNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .homeNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .aboutNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .aboutNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .projectsNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .projectsNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .blogNaviagation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .blogNaviagation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .contactNavigation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .contactNavigation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .secondImage {
        position: absolute;
        width: 600px;
        height: 600px; 
        left: 1195px;
        top: 1284px; 
        border: 2px solid #403A3A;


    }
}

