* {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  html {
    overflow-x:hidden; 
  }
  
  .homeNavigation {
  
      position: absolute;
      width: 113px;
      height: 49px;
      left: 670px;
      top: 50px;
  
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      text-decoration: none;
  
      color: #FFFFFF;
  
  
  }
  
  .aboutNavigation {
  
      position: absolute;
      width: 190px;
      height: 49px;
      left: 880px;
      top: 50px;
      text-decoration: none;
  
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
  
      color: #FFFFFF;
  
  }
  
  .projectsNavigation {
  
      position: absolute;
      width: 154px;
      height: 49px;
      left: 1142px;
      top: 50px;
      text-decoration: none;
  
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
  
      color: #FFFFFF;
  }
  
  .blogNaviagation {
      position: absolute;
      width: 90px;
      height: 49px;
      left: 1378px;
      top: 50px;
      text-decoration: none;
  
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
  
      color: #FFFFFF;
  }
  
  .contactNavigation {
  
      position: absolute;
      width: 230px;
      height: 49px;
      left: 1562px;
      top: 50px;
      text-decoration: none;
  
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
  
      color: #FFFFFF;
  }
  
  .homeNavigation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #FFFFFF;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
  .homeNavigation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  .aboutNavigation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #FFFFFF;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
  .aboutNavigation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  .projectsNavigation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #FFFFFF;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
  .projectsNavigation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  .blogNaviagation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #FFFFFF;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
  .blogNaviagation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  .contactNavigation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #FFFFFF;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
  .contactNavigation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  .mainLogo {
    position: absolute;
    width: 200px; 
    height: 200px;
    left: 25px;
    top: 25px; 
  
  }

  .contactPage {
    width: 1920px; 
    height: 1080px; 
    background-color: #403A3A; 
    overflow: hidden; 

}

.title {
    position: absolute;
    width: 1595px;
    height: 280px;
    left: 50px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 108px;
    line-height: 162px;

    background: linear-gradient(180deg, #2193B0 0%, rgba(33, 147, 176, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.description {

    position: absolute;
    width: 1043px;
    height: 201px;
    left: 50px;
    top: 345px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;


}

.nameInput {
    position: absolute;
    width: 400px; 
    height: 25px;
    top: 620px; 
    left: 51px; 
    background-color: #403A3A; 
    font-family: 'Poppins'; 
    color: #FFFFFF;

} 


.nameDisplay {

    position: absolute;
    width: 1043px;
    height: 42px;
    left: 51px;
    top: 570px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;
}

.emailInput {

    position: absolute;
    width: 400px; 
    height: 25px;
    top: 700px; 
    left: 51px; 
    background-color: #403A3A; 
    font-family: 'Poppins'; 
    color: #FFFFFF;
}

.emailDisplay {
    position: absolute;
    width: 98px;
    height: 54px;
    left: 51px;
    top: 650px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;
}

.messageInput {

    position: absolute;
    width: 400px; 
    height: 100px;
    top: 790px; 
    left: 51px; 
    background-color: #403A3A; 
    font-family: 'Poppins'; 
    color: #FFFFFF;
}

.messageDisplay {
    position: absolute;
    width: 98px;
    height: 54px;
    left: 51px;
    top: 740px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;
}

.submit {

    position: absolute;
    width: 100px; 
    height: 25px;
    top: 920px; 
    left: 175px; 
    background-color: #403A3A; 
    font-family: 'Poppins'; 
    color: #FFFFFF;
}

.socialsList {
    position: absolute;
    width: 170px;
    height: 72px;
    left: 661px;
    top: 561px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    
    color: #C4C4C4;
    

}

.divider {

    position: absolute;
    width: 347px;
    height: 0px;
    left: 655px;
    top: 638px;

    border: 5px solid #C4C4C4;

}

.instagramLogoContact {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 638px;
    top: 638px;


}

footer {
    background-color: #E2DFDF;
    width: 1920px;
    height: 200px; 
    overflow:hidden;
  }
  
  .footerText {
  
    position: absolute;
    width: 960px;
    height: 70px;
    left: 26px;
    top: 1107px;;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
  
    color: #403A3A;
  
  
  }
  
  .footer > div > a {
    position: absolute;
    width: 744px;
    height: 40px;
    top: 1207px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;   
    text-decoration: none;
    color: #403A3A;
  }
  .homeFooter {
    left: 26px;
  }
  
  .aboutMeFooter {
    left: 280px;
  }
  
  .projectsFooter {
    left: 567px;
  }
  
  .blogFooter {
    left: 858px;
  }
  
  .contactMeFooter {
    left: 1071px; 
  }
  
  .instagramLogo {
  
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1500px;
    top: 1080px;
  
  }
  
  .mailLogo {
  
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1650px;
    top: 1080px;
  
  }



